.helene-container
  margin-top: 20px

.helene-thumbnail
  border-radius: 50%
  float: left
  height: 100px
  margin: 0 20px 20px 0
  overflow: hidden
  width: 100px

  img
    height: 100%

.helene-desc
  color: $white
  margin-right: 15px
  text-align: justify