$masonry-count: 1, 2, 3, 4, 5

.masonry
  @include column-gap(0)

@each $i in $masonry-count
  .masonry-#{$i}
    @include column-count($i)

.masonry-item
  cursor: pointer
  display: none
  width: 100%
  transition: left 1000ms
  position: relative

.masonry-item-wrap
  padding: 10px
  display: inline-block

.masonry-item-content
  border: 4px solid $white
  border-radius: 3px
  display: inline-block

  img
    width: 100%
    border: 1px solid $black