body
  background: $black
  font-family: Roboto, sans-serif

div[class^="col-"]
  padding: 0

.navbar
  border-radius: 0
  margin: 15px 0 0 0

.navbar-inverse
  border: 0

.navbar-brand
  transition: color 200ms
  font-size: 28px
  padding-left: 0
  font-family: "She always walks alone", sans-serif

.navbar-inverse .navbar-brand
  color: $grey-d1

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus
  background-color: transparent
  color: $white


.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover
  background-color: transparent
  color: $white

.lazy
  display: none

.dropdown-menu
  background: $black
  box-shadow: 0 0 15px $black-d1
  padding: 0
  transition: color 200ms

.dropdown-menu > li > a
    color: $grey-d1
    padding: 15px 25px

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
  background-color: transparent
  color: $white

a
  outline: none !important

.tooltip.right .tooltip-arrow
  border-right-color: $white

.tooltip.bottom .tooltip-arrow
  border-bottom-color: $white

.tooltip.in
  opacity: 1

.tooltip-inner
  background: $white
  color: $black
  text-align: left

.form-control
  background: $white
  color: $black
  border-radius: 0

  &:focus
    box-shadow: none !important

.form-group.has-error .form-control
    background: $red